.test {
    font-weight: bold;
    color: crimson;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

#login {
    margin-left: auto;
}

#label {
    margin: 0px;
    padding: 0px;
}


a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color: red;
    text-decoration: none;
}

.header {
    /*background-color: #ff0000;*/
    border: 2px solid black;
    display: flex;
}

.navigation {
    background-color: #ffff00;
}

.content {
    border: 3px solid green;
    margin-left: 0px;
}

.footer {
    display: flex;
    background-color: #0000ff;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    font-size: 8px;
}

#coursesDetails {
    padding-top: 5px;
}

#coursesDetails span {
    margin-top: 2px;
}

#instructorCourseDetails span {
    margin-top: 2px;
}
